<a href="https://colab.research.google.com/github/vpshilfiger37/Data-Science-Internship-Basics/blob/main/dcmvh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week-2

Task-1

Data Cleaning & Missing Value Handling

-
Use Pandas to load a dataset.

-
Identify and handle missing values (fillna(), dropna()).

-
Remove duplicate entries.

-
Standardize column names (lowercase, no spaces).

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Load the dataset
dataset_path = "Titanic-Dataset.csv"
df = pd.read_csv(dataset_path)

# Display basic information about the dataset
print("Dataset Information:")
df.info()

# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

# Handle missing values
# Fill numerical columns with median
numeric_cols = df.select_dtypes(include=[np.number]).columns
df[numeric_cols] = df[numeric_cols].apply(lambda x: x.fillna(x.median()))

# Fill categorical columns with mode
categorical_cols = df.select_dtypes(include=["object"]).columns
df[categorical_cols] = df[categorical_cols].apply(lambda x: x.fillna(x.mode()[0]))

# Remove duplicates
df.drop_duplicates(inplace=True)

# Convert categorical variables into numerical form (One-Hot Encoding)
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# Normalize numerical features
scaler = MinMaxScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

# Save the cleaned dataset
df.to_csv("Titanic-Dataset-Cleaned.csv", index=False)
print("\nCleaned dataset saved as 'Titanic-Dataset-Cleaned.csv'")

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Missing Values:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Cleaned dataset saved as 'Titanic-Dataset-Cleaned.csv'